.header {
    flex: 1 1 auto;
    justify-content: space-between;
}

.logo-icon{
    height: 50px;
    width: 50px;
    margin: 0 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
